@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Open+Sans:wght@300;400;700;800&display=swap');

.paginated{
    margin: auto;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.nro{
    margin-right: 15px;
    border-radius: 50px;
    cursor: pointer;
    border:3px solid rgb(167, 166, 166);
    color: rgb(34, 34, 34);
    height: 30px;
    width: 60px;
    background-color: rgb(255, 255, 255);
    font-family: 'DynaPuff', cursive;
    font-size: 1.5rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.nro:hover{
    cursor: pointer;
    transform: scale(1.40);
}